trigger:
  branches:
    include:
      - main
      - develop

pool:
  vmImage: 'windows-latest'

variables:
  nodeVersion: '20.x'
  ${{ if eq(variables['Build.SourceBranchName'], 'main') }}:
    # imageTag: "prod"
    onpremPool: uploadvidprod
  ${{ else }}:
    # imageTag: "dev"
    onpremPool: aibdev01

stages:
  - stage: Build
    jobs:
      - job: Build
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '$(nodeVersion)'

          - script: |
              npm install
            displayName: 'Install dependencies'

          - script: |
              npm run build
            displayName: 'Build the Vue.js project'

          - script: |
              echo "Check for dist folder after build:"
              dir dist
            displayName: 'Verify dist Folder After Build'

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: 'dist'
              ArtifactName: 'dist'
              publishLocation: 'Container'

  - stage: Deploy
    displayName: Application Deploy
    pool: $(onpremPool)
    dependsOn:
      - Build
    jobs:
      - job: Deploy
        steps:
          - download: current
            artifact: dist
          - script: |
              echo "Check downloaded files:"
              dir $(Pipeline.Workspace)\dist
            displayName: 'Verify Downloaded Files'
          - script: |
              echo "Deploying to server..."
              xcopy $(Pipeline.Workspace)\dist\* C:\inetpub\wwwroot\sampleapplication01\ /E /Y
            displayName: 'Copy Files to IIS Directory'
